{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="sticky-top container bg-success text-white">
  <form method="post" target="_blank">{% csrf_token %}
    <table class="table">
      <tr>
        <th scope="row" class="text-light">Qtd {{ qtd_tot }}</th>
        <th scope="row" class="text-light">Valor R$ {{ valor_tot }}</th>
        <td><input type="submit" id="processa" name="processa" value="Processar"></td>
      </tr> 
    </table>
  </form>
  <!-- <a> Valor {{ valor_tot }} - Qtd {{ qtd_tot }}</a> -->
</div>
<div class='row'>
    {% for instance in object_list %}
    <div class="col-lg-3 col-md-6 mb-4">
        <!-- <div class='col my-3'> -->
            <div class="card">
                <div class="card-body-fluid">
                    <div class="bg-light">
                      <!-- <h5 class="card-title">{{ instance.produto }}</h5>
                      <h6 class="card-text text-success"> {{ instance.preco }}</h6> -->
                      <p>
                        <b>{{ instance.produto }} -</b> <strong class="text-success" >R$ {{ instance.preco }}</strong><br />
                        <small>{{ instance.sortido }} -</small><small class="text-lowercase"> {{ instance.composicao }} </small>
                        
                      </p>
                      <p></p>
                      <!-- <p class="card-text">{{ instance.sortido }}</p>
                      <p class="card-text">{{ instance.composicao }}</p> -->
                    </div>
                    <form method="post">{% csrf_token %}
                      <input type="hidden" id="produto" name="produto" value={{instance.produto}}>
                      <input type="hidden" id="tams" name="tams" value= "{{instance.tams}}">
                      <input type="hidden" id="url" name="url" value= "{{instance.url}}">
                      <input type="hidden" id="sortido" name="sortido" value= "{{instance.sortido}}">
                      <input type="hidden" id="composicao" name="composicao" value= "{{instance.composicao}}">
                      <input type="hidden" id="preco" name="preco" value= "{{instance.preco}}">
                      <img src="{% static instance.url " " %}" width=330 height=100%>
                      <div class="table-responsive">
                        <table class="table">
                            <thead class="thead bg-light">
                              <tr>
                                <th scope="col">COR</th>
                                {% for t in instance.tams %}
                                <th scope="col">{{ t }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for estq in instance.estoque %}
                              <tr>
                                <th scope="row">{{ estq.cor }}</th>
                                {% for q in estq.qtds %}
                                <td> {{ q }} </td>
                                
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </table>
                              <table class="table">
                              <tr>
                                <th scope="row" class="bg-light">Total Item</th>
                                <td> {{ instance.qtd_tot }} </td>
                                <th scope="row" class="bg-light">Valor Item</th>
                                <td>R$ {{ instance.valor_tot }} </td>
                              </tr>                              
                            </tbody>
                        </table>
                        <input type="submit" value="Remover">
                      </div>
                    </form>
                    


                </div>
            </div>  
        
        </div>
    {% endfor %}


</div>

{% endblock %}